{##
 # DavamigoTranslatorBundle:Default:index.html.twig
 # @DavamigoTranslator/Default/index.html.twig
 #
 # translations Davamigo\TranslatorBundle\Model\Translator\Translations
 #}

{% extends '@DavamigoTranslator/base.html.twig' %}

{% trans_default_domain 'DavamigoTranslatorBundle' %}

{% block title %}
    {{ 'str.bundle.name' | trans }}
{% endblock %}

{%- block container_class %}
    container-fluid
{% endblock -%}

{% block body_content %}

    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <div class="form-group">
                <div class="btn-group">
                    <div class="btn-group">
                        <a  href="#"
                            title="{{ 'str.action.download' | trans }}"
                            data-toggle="dropdown"
                            class="btn btn-default btn-sm dropdown-toggle js-btn-download">
                            <span class="fa fa-download"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a target="_blank" href="{{ path('translator_export_excel') }}">
                                    {{ 'str.format.excel' | trans }}
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="{{ path('translator_export_yaml') }}">
                                    {{ 'str.format.yaml' | trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a  href="#"
                        title="{{ 'str.action.upload' | trans }}"
                        class="btn btn-default btn-sm js-btn-upload">
                        <span class="fa fa-upload"></span>
                    </a>
                    <a  href="#"
                        title="{{ 'str.action.save' | trans }}"
                        data-url="{{ path('translator_save_yaml') }}"
                        class="btn btn-default btn-sm js-btn-save">
                        <span class="fa fa-save"></span>
                    </a>
                    <a  href="{{ path('translator_reset') }}"
                        title="{{ 'str.action.reset' | trans }}"
                        class="btn btn-default btn-sm js-btn-reset">
                        <span class="fa fa-recycle"></span>
                    </a>
                </div>
            </div>
            <div class="hide">
                <form
                    class="js-files-form"
                    method="post"
                    enctype="multipart/form-data"
                    action="{{ path('translator_import_excel') }}">
                    <input
                        type="file"
                        name="files"
                        class="hide js-files-input"
                    />
                </form>
            </div>
        </div>
        <div class="col-sm-9 col-xs-12 text-right">
            <div class="form-group">
                <label>{{ 'str.label.locales' | trans }}:</label>
                <div class="btn-group">
                    {% for locale in translations.locales %}
                        <a  href="#"
                            data-locale="{{ locale }}"
                            data-col-num="{{ 3 + loop.index0 }}"
                            class="btn btn-default btn-sm js-btn-locale-toggle">
                            {{- locale -}}
                        </a>
                    {% endfor %}
                    <a  href="#"
                        title="{{ 'str.action.add-locale' | trans }}"
                        class="btn btn-default btn-sm js-btn-locale-add">
                        <span class="fa fa-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table
                width="100%"
                data-state-save="true"
                data-ajax="{{ path('translator_get_data') }}"
                class="table table-bordered table-hover table-condensed js-table">
                <thead>
                    <tr class="warning">
                        <td class="js-column-bundle">
                            &nbsp;
                        </td>
                        <td class="js-column-domain">
                            &nbsp;
                        </td>
                        <td class="js-column-resource">
                            &nbsp;
                        </td>
                        {% for locale in translations.locales %}
                            <td class="js-column-locale-{{ locale }}">&nbsp;</td>
                        {% endfor %}
                    </tr>
                    <tr class="warning">

                        <th data-column-id="bundle"
                            data-order-data="[0, 1, 2]"
                            data-filter="select"
                            data-placeholder="{{ 'str.placeholder.bundle' | trans }}">
                            {{ 'str.label.bundle' | trans }}
                        </th>

                        <th data-column-id="domain"
                            data-order-data="[1, 0, 2]"
                            data-filter="select"
                            data-placeholder="{{ 'str.placeholder.domain' | trans }}">
                            {{ 'str.label.domain' | trans }}
                        </th>

                        <th data-column-id="resource"
                            data-order-data="[2, 0, 1]"
                            data-filter="input"
                            data-placeholder="{{ 'str.placeholder.resource' | trans }}">
                            {{ 'str.label.resource' | trans }}
                        </th>

                        {% for locale in translations.locales %}
                            <th data-column-id="locale-{{ locale }}"
                                data-order-data="[{{ 3 + loop.index0 }}, 0, 1, 2]"
                                data-locale="{{ locale }}">
                                {{ locale }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block page_stylesheets %}
    {% stylesheets filter='cssrewrite'
        'bundles/davamigotranslator/css/default/index.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block page_javascripts %}
    {% javascripts
        'bundles/davamigotranslator/js/modal.js'
        'bundles/davamigotranslator/js/default/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
